
.container-fluid{
    background-color: rgb(86, 85, 85);
}
.navbar-brand{
    height: 40px;
    font-size: medium;
    color: white;
}
.jumbotron{
    background-color: rgb(229, 227, 227);
    margin-top: 30px;
}
.col{
    text-align: left;
}
p {
    padding-bottom: 25px;
}

.container{
margin-top: 15px;
display: block;
}

.card{
    width: 18rem;
    height: 30rem;
}
#call-to{
    position: left;
}
img{
    height: 50%;
}
