
.container-fluid{
    background-color: rgb(86, 85, 85);
}
.navbar-brand{
    font-size: medium;
    color: white;
}
.jumbotron{
    background-color: rgb(229, 227, 227);
    margin-top: 30px;
}
.container{
margin-top: 15px;
}
.card{
    width: 18rem;
    height: 30rem;
}
img{
    height: 10rem;
    
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
